<div class="relative h-[800px] w-screen bg-scroll bg-no-repeat bg-cover bg-center"
    style="background-image: url(/assets/images/avenger.webp);">
    <div class="absolute bg-black bg-opacity-80 h-[800px] w-screen">

        <div class="py-5">
            <!-- navbar component is here  -->
            <app-navbar class="my-3"></app-navbar>
        </div>

        <div class="pt-40 pl-10">
            <div class="mb-3">
                <div class="text-3xl text-white font-semibold text-left underline decoration-1 underline-offset-4">
                    Series</div>
            </div>
            <div class="flex flex-row flex-nowrap overflow-x-auto scroll-m-0 gap-x-5 ">
                @for( movie of ml.movieList; track movie; let i = $index ){

                <!-- <div class="rounded-lg hover:scale-110 hover:transition-all  duration-150 w-[340px] h-52 border-orange-500 border bg-no-repeat bg-contain relative" [ngStyle]="{ 'background-image': 'url(' + movie.images + ')' }" >
                       
                        <div class="absolute inset-0">
                            <div class="">fine</div>
                            
                        </div>
                    </div> -->

                <div class="relative w-80 h-52 flex-shrink-0 rounded-lg hover:scale-110 z-40 overflow-hidden bg-cover bg-center hover:transition-all duration-300"
                    [ngStyle]="{ 'background-image': 'url(' + movie.images + ')' }">

                    <!-- Overlay for title and other details -->
                    <div
                        class="absolute inset-0 bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-300 p-4 flex flex-col justify-end">
                        <div class="text-white font-bold" (click)="navigatetoDetail(i)">{{ movie.title }}</div>
                        <div class="text-sm text-gray-300"><span class="text-white font-semibold">Genre : </span> {{
                            movie.genres }}</div>
                        <div class="text-xs text-gray-400">{{ movie.releaseDate }}</div>
                    </div>
                </div>
                }
            </div>

        </div>
    </div>

    <!--                    {{movie.title}}
                            {{movie.description}}
                            {{movie.releaseDate}}
                            {{movie.genres}} -->





</div>