<p>item-list works!</p>
@for(item of movie; track movie; let i = $index){
    <div class="flex items-center space-x-5">
        <div class="text-lg text-black border w-96 h-60">
            <div class="">title: {{item.title}}</div>
            <div class="">description: {{item.description}}</div>
            <div class="">image: {{item.images}}</div>
        </div>
    </div>
}
<form [formGroup]="movieForm" (ngSubmit)="onSubmit()" class="p-4 max-w-lg mx-auto bg-white shadow-md rounded">
    <div class="mb-4">
      <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Enter movie title"
      />
    </div>
  
    <div class="mb-4">
      <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Enter movie description"
      ></textarea>
    </div>
  
    <div class="mb-4">
      <label for="image" class="block text-gray-700 text-sm font-bold mb-2">Upload Image</label>
      <input
        id="image"
        type="file"
        (change)="onFileChange($event)"
        class="w-full text-sm text-gray-500 border rounded cursor-pointer bg-gray-50 focus:outline-none"
      />
    </div>
  
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Add Movie
    </button>
  </form>
  